@import "../../bootstrap";

.tags-index, .tags-show{
    .tag-list{
        list-style: none;
        padding: 0;
        @include clearfix;

        li{
            margin: 4px;
            float: left;
            .label{
                font-size: 0.9em;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    .card-list{
        list-style: none;
        padding: 0;
    }
}

.tags-show{
    .other-tags{
        opacity:0.6;
        &:hover{
            opacity: 1;
        }
    }
}