<div class="tags-show container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3">

            <h2>
                <small>tag</small> <span ng-bind="vm.tag.name"></span></h2>


            <div class="other-tags">
                <label for="tag-search">other tags</label>
                <input id="tag-search" ng-model="vm.search" ng-change="vm.searchTags()" class="form-control input-sm" type="text" placeholder="filter tag"/>
                <ul class="tag-list">
                    <li ng-repeat="tag in vm.searchedTags.data">
                        <a ui-sref="tags.show({tag_name:tag.name})" ng-bind="tag.name" class="label label-default"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">

            <ul class="card-list">
                <li ng-if="!vm.isLoaded">
                    <h3>Loading...</h3>
                </li>
                <li ng-if="vm.isLoaded&&!vm.cards.data.length">
                    <h3>No Cards</h3>
                </li>
                <li ng-repeat="card in vm.cards.data">
                    <card-viewer card="card"></card-viewer>
                </li>
            </ul>

            <pagination
                    total-items="vm.cards.total" items-per-page="vm.cards.per_page" ng-model="vm.currentPage" ng-change="vm.changePage()">
            </pagination>

        </div>
    </div>
</div>