<nav class="navbar navbar-default top-nav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                CodeXen <small>αlpha</small>
            </a>
            <button ng-click="vm.isCollapsed = !vm.isCollapsed" ng-init="isNavBarCollapsed=true" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" collapse="vm.isCollapsed">

            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="home"><i class="fa fa-home"></i> Home</a>
                </li>

                <li ui-sref-active="active"><a ui-sref="explore"><i class="fa fa-search"></i> Explore</a></li>

                <li ui-sref-active="active"><a ui-sref="mydeck"><i class="fa fa-archive"></i> My Deck</a></li>

            </ul>


            <ul class="nav navbar-nav navbar-right" ng-hide="vm.currentUser">
                <li>
                    <a ui-sref="signin"><i class="fa fa-sign-in"></i> Sign in</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-show="vm.currentUser">

                <a class="top-nav-btn btn btn-primary"><i class="fa fa-plus-square-o"></i> New Code</a>
                <li ui-sref-active="active">
                    <a><img class="profile-photo img-circle" src="//www.gravatar.com/avatar/ea0b6ad1c11700120d1af08810caa19d?s=35"><span class="visible-xs-inline"> laravelfanatic</span></a>
                </li>
                <li>
                    <a ng-click="vm.signOut()"><i class="fa fa-sign-out"></i> Sign Out</a>
                </li>

            </ul>

        </div>



    </div>
</nav>