<nav class="navbar navbar-inverse top-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="welcome">
              <img width="30" height="30" src="resources/logo.svg" alt="logo">
              <span>
                  CodeXen <small>β</small>
              </span>
            </a>
            <button ng-click="vm.isCollapsed = !vm.isCollapsed" ng-init="isNavBarCollapsed=true" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" collapse="vm.isCollapsed">

            <ul class="nav navbar-nav" ng-show="vm.currentUser">
                <li ui-sref-active="active">
                    <a ui-sref="home"><i class="fa fa-home"></i> Home</a>
                </li>

                <li ui-sref-active="active"><a ui-sref="explore.files"><i class="fa fa-search"></i> Explore</a></li>

                <li ui-sref-active="active"><a ui-sref="decks.mydeck"><i class="fa fa-list"></i> My Deck</a></li>

            </ul>


            <ul class="nav navbar-nav navbar-right" ng-hide="vm.currentUser">
                <li>
                    <a ui-sref="auth.signup"><i class="fa fa-sign-in"></i> Sign Up | Log In</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-show="vm.currentUser">

                <li><a ui-sref="cards.create" class="top-nav-btn btn btn-primary"><i class="fa fa-plus-square-o"></i> New Code</a></li>
                <li class="dropdown" dropdown >

                    <a class="dropdown-toggle profile-photo" dropdown-toggle><img width="35" height="35" class="img-circle" ng-src="//www.gravatar.com/avatar/{{vm.currentUser.md5}}?s=35"><span class="visible-xs-inline"> {{vm.currentUser.name}}</span></a>

                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="users.show({user_name:vm.currentUser.name})">My page</a></li>
                        <li><a href="http://register.codexen.org/invite"><i class="fa fa-user-plus"></i> Invite friends</a></li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="vm.signOut()"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                    </ul>
                </li>

            </ul>

        </div>



    </div>
</nav>