@import "../../mixins";

file-item{
    header{
        @include clearfix;
        .file-name{
            font-size: 1.2em;
        }
        .file-owner{
            text-align: right;
            position: relative;
            top: 3px;
        }
    }
    .file-detail{
        z-index:101;
    }
    .file-control{
        text-align: right;
        position: relative;
        z-index:100;
        top: -20px;
        margin-top: -20px;
        @media (max-width: $screen-xs-max) {
            position: inherit;
            top: 0;
            margin-top: 0;
            margin-bottom: 10px;

        }
    }

    .tags{
        @include clearfix;
        margin: 2px 0;
        list-style: none;
        padding: 0;
        li{
            float: left;
            padding: 0 2px;
        }
    }

    hr{
        margin-top: 0;
    }

}