@import "../../overrides";

.explore-tab{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    button.btn{
        display: inline-block;
        float: none;
    }
}

.explore-state{
    background-color: white;
    nav.explore-tabs{
        margin-top: 20px;
        border-bottom: solid 1px lightgrey;
        margin-bottom: 10px;
        .nav{
            li{
                position: relative;
                top: 1px;
                font-size: 1.2em;
                float: left;
                border-bottom: solid 2px transparent;
                a{
                    color: lightgrey;
                }
            }
            li.active{
                border-bottom: solid 3px $heading-color;
                a{
                    color: $heading-color;
                }
            }
        }
    }

    .explore-aside{
        h2{
            font-size: 1.3em;
        }
    }
}

.explore-files-state{
    .file-list{
        padding: 0 15px;
        list-style: none;
    }
    .files-nav{
        @include clearfix;
        ul li{
            float: left;
            width: 70px;
            margin: 10px 10px 15px;
            a{
                padding: 5px 0;
            }
        }
    }
}

.explore-tags-state{
    .tag-list{
        list-style: none;
        padding: 0;
        @include clearfix;

        li{
            margin: 4px;
            float: left;
            .label{
                font-size: 0.9em;
                &:hover{
                    opacity: 0.6;
                }
            }
        }
    }
}