<div class="explore-files-state">

    <ul class="file-list">
        <li ng-if="!vm.isLoaded">
            <h3>Loading...</h3>
        </li>
        <li ng-if="vm.isLoaded&&!vm.files.data.length">
            <h3>No Cards</h3>
        </li>
        <li ng-repeat="file in vm.files.data">
            <file-item file="file"></file-item>
        </li>
    </ul>

    <pagination
            total-items="vm.cards.total" items-per-page="vm.cards.per_page" ng-model="vm.currentPage" ng-change="vm.changePage()">
    </pagination>

</div>