<div ng-show="error" class="alert alert-danger">
    <strong>Oops...</strong>
    <span ng-bind="error"></span>
</div>
<form ng-submit="signin()">
    <div class="form-group">
        <label for="email">E-mail</label>
        <input ng-model="email" type="email" id="email" name="email" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input ng-model="password" type="password" id="password" name="password" class="form-control"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary form-control">Sign In</button>
    </div>
</form>