<h4><a ui-sref="cards.show({card_id:card.id})">
    <small>label</small> <span ng-bind="card.label"></span> <small>/</small> <small>filename</small> <span ng-bind="card.filename"></span></a><br/>

    <small class="card-detail">Updated at <span ng-bind="card.updated_at"></span> by <a ui-sref="users.show({user_name:card.owner.name})" ng-bind-html="card.owner.name + ' <img src=\'//www.gravatar.com/avatar/'+  card.owner.md5+'?s=20\' class=\'img-circle\'>'"></a></small>
</h4>

<ul class="tags"><li ng-repeat="tag in card.tags"><a ui-sref="tags.show({tag_name:tag.name})" ng-bind="tag.name" class="label label-default"></a></li></ul>

<h4><small>memo</small></h4>

<p ng-bind="card.memo"></p>

<div class="panel panel-default">
    <ui-codemirror ng-model="card.code" ui-codemirror-opts="{
                            lineWrapping : true,
                            lineNumbers: true,
                            readOnly: 'nocursor'
                        }"></ui-codemirror>
</div>
<div>
    <button btn-fork-card="card" class="btn btn-strip"></button>
    <button btn-mobilize-card="card" class="btn btn-strip"></button>
    <button btn-edit-card="card" class="btn btn-strip"></button>
    <button btn-delete-card="card" class="btn btn-strip"></button>
</div>
<hr/>