.users-state{
    .user-list{
        list-style: none;
        padding: 0;
        width:100%;
        li{
            text-align: center;
            margin: 30px 0;
        }
    }
}

.users-show-state{
    .user-info{
        margin-top:50px;
        text-align: center;
    }

    .card-list{
        list-style: none;
        padding: 0;
    }
}