<div class="users-show-state">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="user-info">
                <img ng-src="//www.gravatar.com/avatar/{{vm.user.md5}}?s=100" alt="profile photo" class="img-circle"/>
                <h2 ng-bind="vm.user.name"></h2>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">

            <ul>
                <li ng-if="!vm.cards.data.length">
                    <h3>No Cards</h3>
                </li>
                <li ng-repeat="card in vm.cards.data">
                    <card-viewer card="card"></card-viewer>
                </li>
            </ul>

            <pagination
                    total-items="vm.cards.total" items-per-page="vm.cards.per_page" ng-model="vm.currentPage" ng-change="vm.changePage()">
            </pagination>

        </div>
    </div>
</div>