<div class="users-show-state container-fluid">
    <div class="center-block text-center">
        <div class="user-info">
            <img ng-src="//www.gravatar.com/avatar/{{vm.user.md5}}?s=100" alt="profile photo" class="img-circle"/>
            <h2 ng-bind="vm.user.name"></h2>
        </div>

        <div class="user-numbers">
            <ul>
                <li>
                    <p>
                        <span ng-bind="vm.user.file_count"></span><br>
                        Codes
                    </p>
                </li>
                <li>
                    <p>
                        <span ng-bind="vm.user.starred_count"></span><br>
                        Starred
                    </p>
                </li>
                <li>
                    <p>
                        <span ng-bind="vm.user.following_count"></span><br>
                        Following
                    </p>
                </li>
                <li>
                    <p>
                        <span ng-bind="vm.user.follower_count"></span><br>
                        Followers
                    </p>
                </li>
            </ul>
        </div>

        <div ng-if="!vm.isMe" class="form-group">
            <button btn-follow-user='vm.user' class="btn btn-default"></button>
        </div>
    </div>

    <div class="container">
        <ul class="folder-list">
            <li ng-repeat="folder in vm.folders.data">
                <folder-item folder="folder"></folder-item>
            </li>
        </ul>
    </div>
</div>