<div class="modal-header">
    <h3 class="modal-title">Mobilize Card<small>#<span ng-bind="card.id"></span></small></h3>
</div>
<div class="modal-body">
    <h4><small>label</small> <span ng-bind="card.label"></span> / <small>filename</small> <span ng-bind="card.filename"></span></h4>

    <div>
        <tabset>
            <tab select="params.add_to = 'deck';">
                <tab-heading>
                    <i class="fa fa-list"> Add to Deck</i>
                </tab-heading>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="deck">Deck</label>
                        <input id="deck" disabled type="text" ng-model="deck.label" class="form-control"/>
                    </div>
                    <div class="col-sm-8">
                        <label for="command">Command</label>
                        <input ng-model="params.command" id="command" type="text" class="form-control"/>
                    </div>
                </div>
            </tab>
            <tab select="params.add_to = 'group';">
                <tab-heading>
                    <i class="fa fa-chain"> Add to group</i>
                </tab-heading>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="deck">Deck</label>
                        <input id="deck" disabled type="text" ng-model="deck.label" class="form-control"/>
                    </div>
                    <div class="col-sm-8">
                        <label for="group">Group</label>
                        <select ng-model="params.groupCommand" ng-options="card.command for card in groupCards" class="form-control">
                        </select>
                    </div>
                </div>
            </tab>
        </tabset>

        <div>
            <label>Card Type</label><br/>
            <div class="btn-group">
                <label class="btn btn-default" ng-model="params.cardType" btn-radio="'generator'"><i class="fa fa-code"></i> Generator</label>
                <label class="btn btn-default" ng-model="params.cardType" btn-radio="'runner'"><i class="fa fa-spinner"></i> Runner</label>
            </div>
            <div ng-if="params.cardType=='generator'">
                <label for="override-filename">Override (filename)</label>
                <input ng-model="params.filename" id="override-filename" type="text" class="form-control"/>
            </div>
            <div ng-if="params.cardType=='runner'">
                <label for="override-runtime">Override (runtime)</label>
                <input ng-model="params.runtime" id="override-runtime" type="text" class="form-control"/>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="mobilize()"><i class="fa fa-location-arrow"></i> Mobilize It!</button>
    <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-close"></i> Cancel</button>
</div>