@import "../../mixins";
.cards-show, .cards-create, .cards-edit{
     .CodeMirror{
         min-height:500px;
     }
     .control-group{
         button{
             margin-bottom: 5px;
         }
     }
 }

.cards-show{
    .tags{
        @include clearfix;
        list-style: none;
        padding: 0;
        li{
            margin: 0 2px;
            float: left;
            .label:hover{
                opacity: 0.6;
            }
        }
    }
}