@import "mixins";
/**
* Overrides for custom bootstrap
*/

// Navbar 
$navbar-inverse-bg: #2A3D4F;
$navbar-inverse-color: white;

$navbar-inverse-link-color: white;
$navbar-inverse-link-hover-color: darken($navbar-inverse-link-color, 15%);

// Button

// btn-default

// Custom set
$heading-color:#33ACE0;
$link-color:$heading-color;

@mixin wire($color, $bg, $hover-color: $color){
    color: $color;
    background: transparent;
    border: solid 1px $color;
    transition:0.1s;
    border-radius: 5px;

    &:hover,
    .hover{
        color: $bg;
        background-color:$hover-color;
        border-color: $hover-color;
        box-shadow: none;
    }
    &:focus,
    &.focus {
        color: $color;
        box-shadow: 0 0 4px $heading-color;
        text-decoration: none;
        outline: none;
        &:hover,
        &.hover {
            color: $bg;
            background-color:$hover-color;
        }
    }

    &:active,
    &.active{
        box-shadow: none;
        color: $bg;
        outline: none;
        background-color:$hover-color;
        border-color: $hover-color;
        &:focus,
        &.focus {
            color: $color;
            outline: none;
            box-shadow: 0 0 4px $heading-color;
        }

        &:hover,
        &.hover {
            color: $bg;
            background-color:$hover-color;
            outline: none;
        }
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        box-shadow: none;
    }
    small{
        font-size: 0.9em;
    }
}

.btn.btn-wire-white{
    @include wire(white, $heading-color);
}

.btn.btn-wire-blue{
    @include wire($heading-color, white);
}

.btn.btn-wire-gray{
    @include wire(gray, white);
}
.btn.btn-wire-gray-blue{
    @include wire(gray, white, $heading-color);
}
.btn.btn-wire-red{
    @include wire(#D75452, white);
}

input.form-control.input-underline{
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid lightgray;
    border-top: none;
    border-left: none;
    border-right: none;
    &:focus{
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 1);
    }
    &.ng-invalid.ng-dirty{
        border-bottom-color: rgba(255,0,0,0.5);
        border-bottom-width: 2px;
    }
    &.ng-valid.ng-dirty{
        border-bottom-color: rgba(0,120,0,0.5);
        border-bottom-width: 2px;
    }
}

.feedback-success{
    color: rgba(0,120,0,0.5);
}
.feedback-danger{
    color: rgba(255,0,0,0.5);
}