<!doctype html>
<html ng-app="codexen">
<head>
    <meta charset="utf-8">
    <title>Codexen!</title>
    <link rel="stylesheet" href="vendor/codemirror.css"/>
    <link rel="stylesheet" href="vendor/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/select.css">

    <% styles.forEach(function(style){%>
    <link href="<%=style%>" rel="stylesheet">
    <% })%>
</head>
<body>

<top-nav></top-nav>
<div ui-view id="main-view"></div>
<script src="vendor/lodash.js"></script>
<script src="vendor/codemirror.js"></script>
<script src="vendor/angular.js"></script>
<script src="vendor/angular-ui-router.js" charset="utf-8"></script>
<script src="vendor/ui-bootstrap-tpls.js" charset="utf-8"></script>
<script src="vendor/angular-jwt.js" charset="utf-8"></script>
<script src="vendor/ui-codemirror.js"></script>
<script src="vendor/angular-sanitize.js"></script>
<script src="vendor/select.js"></script>
<script charset="utf-8">
/* global angular */

// App
angular.module('codexen', [
  'templates',
  'angular-jwt',
  'ui.bootstrap',
  'ui.codemirror',
  'ngSanitize',
  'ui.select',
  'ui.router',
  'codexen.core',
  'codexen.states',
  'codexen.directives',
  'codexen.services'])
  .constant('env', '<%= env %>')

// Core Modules
angular.module('codexen.core', [
  'codexen.core.init',
  'codexen.core.config',
  'codexen.core.auth'
])
angular.module('codexen.core.init', ['ui.router', 'codexen.core.auth'])
angular.module('codexen.core.config', ['ui.router'])
angular.module('codexen.core.auth', ['ui.router', 'codexen.core.config'])

// States
angular.module('codexen.states', [
  'codexen.states.home',
  'codexen.states.welcome',
  'codexen.states.signin',
  'codexen.states.notfound',
  'codexen.states.users',
  'codexen.states.cards',
  'codexen.states.decks',
  'codexen.states.tags',
  'codexen.states.explore',
])
angular.module('codexen.states.home', ['ui.router'])
angular.module('codexen.states.welcome', ['ui.router'])
angular.module('codexen.states.signin', ['ui.router', 'codexen.core.auth'])
angular.module('codexen.states.users', ['ui.router'])
angular.module('codexen.states.cards', ['ui.router'])
angular.module('codexen.states.decks', ['ui.router'])
angular.module('codexen.states.tags', ['ui.router'])
angular.module('codexen.states.explore', ['ui.router'])

// Error states
angular.module('codexen.states.notfound', ['ui.router'])

// Directives
angular.module('codexen.directives', [])


// Services
angular.module('codexen.services', ['codexen.core.config', 'codexen.core.auth'])

// Etc
angular.module('templates', [])

</script>
<% scripts.forEach(function(script){%>
<script src="<%=script%>" charset="utf-8"></script>
<% })%>
<% if(env=='dist') { %>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-50038801-3', 'auto');

</script>
<% } %>
</body>
</html>