<!doctype html>
<html ng-app="codexen">
<head>
    <meta charset="utf-8">
    <title>Codexen!</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="vendor/codemirror.css"/>
    <link rel="stylesheet" href="vendor/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/select.css">
    <link rel="stylesheet" href="all.css" media="screen" title="no title" charset="utf-8">
</head>
<body>

<top-nav></top-nav>
<div ui-view></div>
<script src="vendor/lodash.js"></script>
<script src="vendor/codemirror.js"></script>
<script src="vendor/angular.js"></script>
<script src="vendor/angular-ui-router.js" charset="utf-8"></script>
<script src="vendor/ui-bootstrap-tpls.js" charset="utf-8"></script>
<script src="vendor/angular-jwt.js" charset="utf-8"></script>
<script src="vendor/ui-codemirror.js"></script>
<script src="vendor/angular-sanitize.js"></script>
<script src="vendor/select.js"></script>
<script charset="utf-8">

    // App
    angular.module('codexen', ['templates', 'angular-jwt', 'ui.bootstrap', 'ui.codemirror', 'ngSanitize', 'ui.select', 'ui.router', 'codexen.core', 'codexen.states', 'codexen.directives', 'codexen.services']);

    // Core Modules
    angular.module('codexen.core', [
        'codexen.core.init',
        'codexen.core.config',
        'codexen.core.auth'
    ]);
    angular.module('codexen.core.init', ['ui.router', 'codexen.core.auth']);
    angular.module('codexen.core.config', ['ui.router']);
    angular.module('codexen.core.auth', ['ui.router', 'codexen.core.config']);

    // States
    angular.module('codexen.states', [
        'codexen.states.home',
        'codexen.states.welcome',
        'codexen.states.signin',
        'codexen.states.notfound',
        'codexen.states.users',
        'codexen.states.users.index',
        'codexen.states.users.show',
        'codexen.states.cards',
        'codexen.states.cards.create',
        'codexen.states.cards.show'
    ]);
    angular.module('codexen.states.home', ['ui.router']);
    angular.module('codexen.states.welcome', ['ui.router']);
    angular.module('codexen.states.signin', ['ui.router', 'codexen.core.auth']);
    angular.module('codexen.states.users', ['ui.router']);
    angular.module('codexen.states.users.index', ['ui.router', 'codexen.services.users']);
    angular.module('codexen.states.users.show', ['ui.router', 'codexen.services.users']);
    angular.module('codexen.states.cards', ['ui.router']);
    angular.module('codexen.states.cards.create', ['ui.router', 'codexen.services.cards', 'codexen.services.tags']);
    angular.module('codexen.states.cards.show', ['ui.router', 'codexen.services.cards', 'codexen.services.tags']);

    // Error states
    angular.module('codexen.states.notfound', ['ui.router']);

    // Directives
    angular.module('codexen.directives', [
        'codexen.directives.top-nav',
        'codexen.directives.signin-form',
        'codexen.directives.card-viewer'
    ]);
    angular.module('codexen.directives.top-nav', ['codexen.core.auth']);
    angular.module('codexen.directives.signin-form', ['codexen.core.auth', 'ui.router']);
    angular.module('codexen.directives.card-viewer', []);

    // Services
    angular.module('codexen.services', [
        'codexen.services.users',
        'codexen.services.cards',
        'codexen.services.tags'
    ]);
    angular.module('codexen.services.users', ['codexen.core.config', 'codexen.core.auth']);
    angular.module('codexen.services.cards', ['codexen.core.config']);
    angular.module('codexen.services.tags', ['codexen.core.config']);

    // Etc
    angular.module('templates', []);

</script>
<% scripts.forEach(function(script){%>
<script src="<%=script%>" charset="utf-8"></script>
<% });%>
</body>
</html>