<!doctype html>
<html ng-app="codexen">
<head>
    <meta charset="utf-8">
    <title>Codexen!</title>
    <link rel="stylesheet" href="vendor/codemirror.css"/>
    <link rel="stylesheet" href="vendor/css/font-awesome.css">
    <link rel="stylesheet" href="all.css" media="screen" title="no title" charset="utf-8">
</head>
<body>

<top-nav></top-nav>
<div ui-view></div>

<script src="vendor/codemirror.js"></script>
<script src="vendor/angular.js"></script>
<script src="vendor/angular-ui-router.js" charset="utf-8"></script>
<script src="vendor/ui-bootstrap-tpls.js" charset="utf-8"></script>
<script src="vendor/angular-jwt.js" charset="utf-8"></script>
<script src="vendor/ui-codemirror.js"></script>
<script charset="utf-8">

    // App
    angular.module('codexen', ['templates', 'angular-jwt', 'ui.bootstrap', 'ui.codemirror', 'ui.router', 'codexen.core', 'codexen.states', 'codexen.directives']);

    // Core Modules
    angular.module('codexen.core', [
        'codexen.core.init',
        'codexen.core.config',
        'codexen.core.auth'
    ]);
    angular.module('codexen.core.init', ['ui.router', 'codexen.core.auth']);
    angular.module('codexen.core.config', ['ui.router']);
    angular.module('codexen.core.auth', ['ui.router', 'codexen.core.config']);

    // States
    angular.module('codexen.states', [
        'codexen.states.home',
        'codexen.states.welcome',
        'codexen.states.signin',
        'codexen.states.notfound'
    ]);
    angular.module('codexen.states.home', ['ui.router']);
    angular.module('codexen.states.welcome', ['ui.router']);
    angular.module('codexen.states.signin', ['ui.router', 'codexen.core.auth']);

    // Error states
    angular.module('codexen.states.notfound', ['ui.router']);

    // Directives
    angular.module('codexen.directives', [
        'codexen.directives.top-nav'
    ]);
    angular.module('codexen.directives.top-nav', ['codexen.core.auth']);

    // Services

    // Etc
    angular.module('templates', []);

</script>
<% scripts.forEach(function(script){%>
<script src="<%=script%>" charset="utf-8"></script>
<% });%>
</body>
</html>