@import "bootstrap";
body, label{
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight:400 !important;
}

blockquote{
    font-size: 17.5px;
    font-weight: 300;
}

textarea{
    resize: vertical;
}

p.copyright{
    text-align: center;
}

.panel-default{
    overflow: hidden;
}

.btn-strip{
    background:none;
    color: #337AB7;
    &:hover{
        color: #285f8f;
    }
}

.CodeMirror{
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    line-height:135%;
}
#wrap{
    background-color:#394A55;
}

#main-view{
}
.copyright{
    background-color:#394A55;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}